<div class="contact-section">
    <div class="contact-wrapper">
        <div>
            <p>Contact Us</p>
            <p>Lorem ipsum dolor sit amet consectetur. Vitae donec varius placerat sed auctor enim feugiat.</p>
            <div class="social-media-icon">
                <img src="../../../assets/images/icons/twitter-outlined.svg" alt="">
                <img src="../../../assets/images/icons/facebook-filled.svg" alt="">
                <img src="../../../assets/images/icons/linkedin-filled.svg" alt="">
            </div>
        </div>
        <div>
            <div class="contact-form">
                <p>Contact Us</p>
                <input class="inputs" type="text" placeholder="Your Name" >
                <input class="inputs" type="text" placeholder="Your Email">
                <textarea id="textArea" type="text" placeholder="Your Message"></textarea>
                <div>
                    <button>Send</button>
                </div>
            </div>
            <div class="info">
                <div>
                    <div>
                        <img src="../../../assets/images/icons/bx_bx-map.svg" alt="">
                        <p>6386 Spring St undefined Anchorage, Georgia 12473 United States</p>
                    </div>
                    <div>
                        <img src="../../../assets/images/icons/phone.svg" alt="">
                        <p>(843) 555-0130</p>
                    </div>
                    <div>
                        <img src="../../../assets/images/icons/mail.svg" alt="">
                        <p>willie.jennings&#64;example.com</p>
                    </div>
                </div>
                <div class="map">
                    <img src="../../../assets/images/map.svg" alt="">
                </div>
                <div class="social-media-icons">
                    <img src="../../../assets/images/icons/twitter-outlined.svg" alt="">
                    <img src="../../../assets/images/icons/facebook-filled.svg" alt="">
                    <img src="../../../assets/images/icons/linkedin-filled.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
