<div class="footer">
    <div class="footer-wrapper">
        <div>
            <div>
                <h3>Pages</h3>
                <p>Home</p>
                <p>Product</p>
                <p>Pricing</p>
                <p>About</p>
                <p>Contact</p>
            </div>
            <div>
                <h3>Tomothy </h3>
                <p>Eleanor Edwards</p>
                <p>Ted Robertson</p>
                <p>Annette Russell</p>
                <p>Jennie Mckinney</p>
                <p>Gloria Richards</p>
            </div>
            <div>
                <h3>Jane Black</h3>
                <p>Philip Jones</p>
                <p>Product</p>
                <p>Colleen Russell</p>
                <p>Marvin Hawkins</p>
                <p>Bruce Simmmons</p>
            </div>
        </div>
        <div>
            <div class="adress">
                <img src="../../../assets/images/map-white.svg" alt="">
                <p>7480 Mockingbird Hill undefined </p>
            </div>
            <div class="phone-number">
                <img src="../../../assets/images/android-white.svg" alt="">
                <p>(239) 555-0108</p>
            </div>
            <div class="icons">
                <img src="../../../assets/images/ant-design_twitter-outlined.svg" alt="">
                <img src="../../../assets/images/ant-design_facebook-filled.svg" alt="">
                <img src="../../../assets/images/ant-design_linkedin-filled.svg" alt="">
            </div>
        </div>
    </div>
</div>