<div class="header">
    <div class="header-container">
        <div class="responsive-top-bar">
            <p id="logo">LOGO LAND</p>
            <div class="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
        <nav class="top-bar">
            <div class="link-wrapper">
                <ul class="links">
                    <li>Home</li>
                    <li>Product</li>
                    <li>Pricing</li>
                    <li>About</li>
                    <li>Contact</li>
                    <p id="logo">LOGO LAND</p>
                </ul>
            </div>
            <div class="social-media-icons">
                <img src="assets/images/ant-design_twitter-outlined.svg" alt="">
                <img src="assets/images/ant-design_facebook-filled.svg" alt="">
                <img src="assets/images/ant-design_linkedin-filled.svg" alt="">
            </div>
        </nav>
        <div class="header-content">
            <h1>The best products start with an idea</h1>
            <p>Lorem ipsum dolor sit amet consectetur. Vitae donec varius placerat sed auctor enim feugiat.</p>
            <button>Try For Free</button>
        </div>
    </div>
</div>
