.home {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  gap: 1.5rem;
}
.features > p:nth-child(1) {
  color: var(--text, #252b42);
  text-align: center;
  font-family: Montserrat;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem; /* 114.583% */
  letter-spacing: 0.0125rem;
}

.features > p:nth-child(2) {
  color: var(--second-text, #374754);
  text-align: center;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 142.857% */
  letter-spacing: 0.0125rem;
}

.features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.features-items > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.features-items > div > p:nth-child(2) {
  color: var(--text, #252b42);
  text-align: center;
  font-family: Montserrat;
  font-size: 1.18rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  letter-spacing: 0.00625rem;
  width: 70%;
}

.features-items > div > p:nth-child(3) {
  color: var(--second-text, #374754);
  text-align: center;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem;
  letter-spacing: 0.0125rem;
  width: 70%;
}

.video {
  width: 68%;
  height: 75vh;
  flex-shrink: 0;
  border-radius: 2.80075rem;
  background: url("../../../assets/images/video.jpg"),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 8.148px 63.145px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.eclipse {
  position: relative;
  display: inline-block;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.desktop-hero {
  height: 85vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-hero > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.desktop-hero > div:nth-child(1) > p:nth-child(1) {
  color: var(--text, #252b42);
  font-family: Montserrat;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem; /* 114.583% */
  letter-spacing: 0.0125rem;
  width: 60%;
}

.desktop-hero > div:nth-child(1) > p:nth-child(2) {
  color: var(--second-text, #374754);
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.0125rem;
  width: 82%;
  padding-bottom: 1rem;
}

.desktop-hero > div:nth-child(1) > button {
  display: flex;
  width: 14.75rem;
  padding: 0.8rem 0rem;
  flex-direction: column;
  align-items: center;
  border-radius: 2.1875rem;
  background: var(--Primary, #2091f9);
  color: var(--Light-text, #fff);
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 140% */
  letter-spacing: 0.00625rem;
  border: none;
}

#macbook {
  height: 41vh;
}

.subscribe-section {
  height: 70vh;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5rem;
  margin-left: 2rem;
}

.newsletter-wrapper {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#newsletter-img {
  height: 100%;
  width: 100%;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.newsletter > p:nth-child(1) {
  color: var(--text, #252b42);
  /* H3 */
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 140% */
  letter-spacing: 0.00625rem;
}

.newsletter > p:nth-child(2) {
  color: var(--text, #252b42);
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem; /* 114.583% */
  letter-spacing: 0.0125rem;
  width: 60%;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.newsletter-content > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.1rem;
}

.newsletter-content > div:nth-child(1) > p:nth-child(1) {
  color: var(--text, #252b42);
  /* H3 */
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 140% */
  letter-spacing: 0.00625rem;
}

.newsletter-content > div:nth-child(1) > p:nth-child(2) {
  color: var(--second-text, #374754);
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem; /* 138.889% */
  letter-spacing: 0.0125rem;
}

.newsletter-content > div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.newsletter-content > div:nth-child(2) > input {
  width: 17.0625rem;
  padding: 1.1875rem 2.4375rem;
  border-radius: 2.4375rem;
  border: 1px solid #e8e8e8;
  background: #f4f4f4;
  color: var(--Background, #18171d);
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 114.286% */
  letter-spacing: 0.00625rem;
}

.newsletter-content > div:nth-child(2) > button {
  padding: 1.1875rem 2.375rem;
  border-radius: 2.1875rem;
  background: var(--Primary, #2091f9);
  color: var(--Light-text, #fff);
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 100% */
  letter-spacing: 0.0125rem;
  border: none;
}

@media screen and (max-width: 391px) {
  .home {
    width: 100%;
  }

  .features-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }
  
  .features-items > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .features-items > div > p:nth-child(2) {
    color: var(--text, #252b42);
    text-align: center;
    font-family: Montserrat;
    font-size: 1.18rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem;
    letter-spacing: 0.00625rem;
    width: 100%;
  }
  
  .features-items > div > p:nth-child(3) {
    color: var(--second-text, #374754);
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem;
    letter-spacing: 0.0125rem;
    width: 100%;
  }

  .desktop-hero {
    display: flex;
    flex-direction: column;
  }

  .desktop-hero > div:nth-child(1) > p:nth-child(1) {
    color: var(--text, #252b42);
    font-family: Montserrat;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.4375rem; /* 114.583% */
    letter-spacing: 0.0125rem;
    width: 100%;
  }
  
  .desktop-hero > div:nth-child(1) > p:nth-child(2) {
    color: var(--second-text, #374754);
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.0125rem;
    width: 100%;
    padding-bottom: 1rem;
  }

  .features-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
  }

  #newsletter-img {
    width: 90%;
    height: 90%;
  }

  .subscribe-section {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
  }

  .desktop-hero > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #macbook {
    padding: 4rem 0;
    width: 22rem;
    height: 100%;
  }

  .newsletter-content > div:nth-child(2) {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .newsletter-content > div:nth-child(2) > button {
    padding: 1.1875rem 5.35rem;
    border-radius: 2.1875rem;
    background: var(--Primary, #2091f9);
    color: var(--Light-text, #fff);
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 100% */
    letter-spacing: 0.0125rem;
    border: none;
  }

  .video {
    width: 90%;
    height: 30vh;
    border-radius: 0.918rem;
  }

  .eclipse > img {
    height: 4rem;
    width: 4rem;
  }

  .play-icon > img {
    height: 1.5rem;
    width: 1.5rem;
  }
}
