<div class="home">
    <div class="home-container">
        <div class="features">
            <p>Features</p>
            <p>Lorem ipsum dolor sit amet consectetur. Vitae donec varius placerat sed auctor enim feugiat.</p>
        </div>
        <div class="features-items">
            <div>
                <img src="assets/images/mdi_drawing.svg" alt="" />
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet consectetur. Vitae donec varius placerat sed auctor enim feugiat.</p>
            </div>
            <div>
                <img src="assets/images/mdi_drawing.svg" alt="" />
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet consectetur. Vitae donec varius placerat sed auctor enim feugiat.</p>
            </div>
            <div>
                <img src="assets/images/mdi_drawing.svg" alt="" />
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet consectetur. Vitae donec varius placerat sed auctor enim feugiat.</p>
            </div>
        </div>
        <div class="video">
            <div class="eclipse">
                <img src="assets/images/Ellipse.svg" alt="">
                <div class="play-icon">
                    <img src="assets/images/el_play.svg" alt="">
                </div>
            </div>
        </div>
        <div class="desktop-hero">
            <div>
                <p>Lorem ipsum dolor.</p>
                <p>Lorem ipsum dolor sit amet consectetur. Vitae donec varius placerat sed auctor enim feugiat.</p>
                <button>Try For Free</button>
            </div>
            <div>
                <img id="macbook" src="../../../assets/images/Macbook.svg" alt="">
            </div>
        </div>
        <div class="subscribe-section">
            <div class="newsletter-wrapper">
                <img id="newsletter-img" src="../../../assets/images/undraw_newsletter_vovu.svg" alt="">
            </div>
            <div class="newsletter">
                <p>At your fingertips</p>
                <p>Lorem ipsum dolor. </p>
                <div class="newsletter-content">
                    <div>
                        <p>Subscribe to our Newsletter</p>
                        <p>Available exclusivery on Logoland</p>
                    </div>
                    <div>
                        <input type="text" placeholder="Your Email">
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>