<div class="pricing-section">
    <div>
        <p>Pricing</p>
        <p>Lorem ipsum dolor sit amet consectetur. Vitae donec varius placerat sed auctor enim feugiat.</p>
    </div>
    <div>
        <div class="pricing-card">
            <div class="card-wrapper">
                <div>
                    <p>FREE</p>
                    <p>Organize across all apps by hand</p>
                </div>
                <div>
                    <div>
                        <h1>0</h1>
                    </div>
                    <div>
                        <p>$</p>
                        <p>Per Month</p>
                    </div>
                </div>
                <ul>
                    <li>Pricing Feature</li>
                    <li>Pricing Feature</li>
                    <li>Pricing Feature</li>
                    <li>Pricing Feature</li>
                    <li>Pricing Feature</li>
                </ul>
                <button>Order Now</button>
            </div>
        </div>
        <div class="standard">
            <div class="standard-wrapper">
                <div>
                    <p>FREE</p>
                    <p>Organize across all apps by hand</p>
                </div>
                <div>
                    <div>
                        <h1>0</h1>
                    </div>
                    <div>
                        <p>$</p>
                        <p>Per Month</p>
                    </div>
                </div>
                <ul>
                    <li>Pricing Feature</li>
                    <li>Pricing Feature</li>
                    <li>Pricing Feature</li>
                    <li>Pricing Feature</li>
                    <li>Pricing Feature</li>
                </ul>
                <button>Order Now</button>
            </div>
        </div>
        <div class="pricing-card">
            <div class="card-wrapper">
                <div>
                    <p>FREE</p>
                    <p>Organize across all apps by hand</p>
                </div>
                <div>
                    <div>
                        <h1>0</h1>
                    </div>
                    <div>
                        <p>$</p>
                        <p>Per Month</p>
                    </div>
                </div>
                <ul>
                    <li>Pricing Feature</li>
                    <li>Pricing Feature</li>
                    <li>Pricing Feature</li>
                    <li>Pricing Feature</li>
                    <li>Pricing Feature</li>
                </ul>
                <button>Order Now</button>
            </div>
        </div>
    </div>
</div>