.pricing-section {
  background-color: #252b42;
  height: auto;
  width: 100%;
  display: flex;
  padding: 6.25rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  align-self: stretch;
}

.pricing-section > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-section > div:nth-child(1) > p:nth-child(1) {
  color: var(--Light-text, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem;
  letter-spacing: 0.0125rem;
}

.pricing-section > div:nth-child(1) > p:nth-child(2) {
  color: var(--Light-text, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 142.857% */
  letter-spacing: 0.0125rem;
  width: 50%;
}

.standard {
  display: flex;
  /* padding: 2.5rem; */
  height: 80vh;
  width: 18.2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  border-radius: 0.625rem;
  background: #2091f9;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.pricing-section > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  flex-wrap: wrap;
}

.pricing-card {
  display: flex;
  padding: 2.5rem;
  height: 70vh;
  width: 18rem;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.875rem;
  border-radius: 0.625rem;
  border: 1px solid #dedede;
  background: var(--light-background, #fff);
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.card-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.card-wrapper > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-wrapper > div:nth-child(1) > p:nth-child(1) {
  color: var(--text, #252b42);
  /* H3 */
  font-family: Montserrat;
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 140% */
  letter-spacing: 0.00625rem;
}

.card-wrapper > div:nth-child(1) > p:nth-child(2) {
  color: var(--second-text, #374754);
  text-align: center;
  font-family: Montserrat;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4375rem;
  letter-spacing: 0.00625rem;
  width: 80%;
}

.card-wrapper > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.card-wrapper > div:nth-child(2) > div:nth-child(1) > h1 {
  color: var(--text, #252b42);
  /* H1 */
  font-family: Montserrat;
  font-size: 4.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem; /* 113.514% */
  letter-spacing: 0.0125rem;
  margin: 0;
}

.card-wrapper > div:nth-child(2) > div:nth-child(2) > p:nth-child(1) {
  color: var(--text, #252b42);
  /* H3 */
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 140% */
  letter-spacing: 0.00625rem;
}

.card-wrapper > div:nth-child(2) > div:nth-child(2) > p:nth-child(2) {
  color: var(--second-text, #374754);
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4375rem; /* 143.75% */
  letter-spacing: 0.00625rem;
}

.card-wrapper > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-wrapper > ul > li {
  display: flex;
  padding: 0.3rem;
  align-items: center;
  color: var(--text, #252b42);
  font-family: Montserrat;
  font-size: 0.8375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 186.667% */
  letter-spacing: 0.0125rem;
}

.card-wrapper > button {
  display: flex;
  padding: 1rem 2.175rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border: none;
  border-radius: 2.1875rem;
  background: var(--Primary, #2091f9);
  color: var(--Light-text, #fff);
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}

.standard-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.standard-wrapper > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.standard-wrapper > div:nth-child(1) > p:nth-child(1) {
  color: var(--text, #fff);
  /* H3 */
  font-family: Montserrat;
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 140% */
  letter-spacing: 0.00625rem;
}

.standard-wrapper > div:nth-child(1) > p:nth-child(2) {
  color: var(--second-text, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4375rem;
  letter-spacing: 0.00625rem;
  width: 80%;
}

.standard-wrapper > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.standard-wrapper > div:nth-child(2) > div:nth-child(1) > h1 {
  color: var(--text, #fff);
  /* H1 */
  font-family: Montserrat;
  font-size: 4.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem; /* 113.514% */
  letter-spacing: 0.0125rem;
  margin: 0;
}

.standard-wrapper > div:nth-child(2) > div:nth-child(2) > p:nth-child(1) {
  color: var(--text, #fff);
  /* H3 */
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 140% */
  letter-spacing: 0.00625rem;
}

.standard-wrapper > div:nth-child(2) > div:nth-child(2) > p:nth-child(2) {
  color: var(--second-text, #fff);
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4375rem; /* 143.75% */
  letter-spacing: 0.00625rem;
}

.standard-wrapper > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.standard-wrapper > ul > li {
  display: flex;
  padding: 0.3rem;
  align-items: center;
  color: var(--text, #fff);
  font-family: Montserrat;
  font-size: 0.8375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 186.667% */
  letter-spacing: 0.0125rem;
}

.standard-wrapper > button {
  display: flex;
  padding: 1rem 2.175rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border: none;
  border-radius: 2.1875rem;
  background: var(--Primary, #fff);
  color: var(--Light-text, #2091f9);
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}